---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
	activeMatch?: string | string[];
};

const { href, class: className, activeMatch, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const activeMatches = Array.isArray(activeMatch)
	? activeMatch
	: activeMatch
		? [activeMatch]
		: [];
const isActive =
	href === pathname ||
	href === '/' + (subpath?.[0] || '') ||
	activeMatches.some((match) => pathname === match || pathname.startsWith(`${match}/`));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
